.custom-file-input{
  background-color: #f2f2f2;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
}
.inputFile{
  all: unset;
}
input{
  all: unset;
  border: 1px solid rgba(255,20,147, 0.5);
width: 15px;
height: 15px;
display: inline-block;
border:1 px solid rgba(255,20,147, 0.5);
margin-right: 5px;
}
input:checked{
background-color: rgba(255,20,147, 0.5);
width: 15px;
height: 15px;
}